body {
  font-family: sans-serif;         /* Шрифт */
  background: #fafafa;             /* Цвет фона */
  text-align: center;              /* Центровка контента */
  padding: 2em;                    /* Отступ вокруг */
}
.card {
  background: linear-gradient(24deg,rgba(238, 174, 202, 1) 30%, rgba(148, 187, 233, 1) 82%);;              /* Фон визитки */
  padding: 2em;                   /* Внутренние отступы */
  border-radius: 12px;            /* Скругление углов */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* Тень */
  max-width: 400px;
  margin: 0 auto;                 /* Центровка по ширине */
}
.photo {
  width: 150px;                   /* Размер фото */
  border-radius: 50%;             /* Круглая форма */
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.contacts a {
  color: #FFFFFF;                 /* Цвет ссылок */
  text-decoration: none;
}
.contacts a:hover {
  text-decoration: underline;     /* Подчёркивание при наведении */
}
.qr {
    display: flex; /* Используем flexbox для центрирования */
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрируем элементы по горизонтали */
    margin-top: 20px; /* Отступ сверху для отделения от других элементов */
}

.qr img {
    max-width: 100%; /* Ограничиваем ширину QR-кода, чтобы он не выходил за пределы контейнера */
    height: auto; /* Поддерживаем пропорции изображения */
}

#telegramButton {
	border: none;
	background-color: transparent;
}

#telegramButton:hover {
	border: 2px solid #00BFFF;
}

#githubButton {
	border: none;
	background-color: transparent;
}

#githubButton:hover {
	border: 2px solid #00BFFF;
}

#whatsUpButton {
	border: none;
	background-color: transparent;
}

#whatsUpButton:hover {
	border: 2px solid #00BFFF;
}

#closeQRCode {
	margin-top: 10px;
	border-radius: 5px;
	background-color: #FFFFFF;
	border: 2px solid;
	
}
